{% extends "layout.html" %}

{% load masterdata_extras %}
{% load humanize %}

{% block title %}
	{{ page_title }}
{% endblock title %}

{% block content %}

	<form method="POST">
		{% csrf_token %}
		<div class="form-group mt-5">
			<strong>{{years_form.year.label_tag}}</strong>
			{{years_form.year}}
		</div>
		<button type="submit" class="btn btn-primary btn-sm active mt-3 mx-auto">Get Report</button>
	</form>
	<br>
	<div class="table-responsive-md">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					{% for po in po_order %}
						<th>{{ po.ready_date|date:"M" }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Estimate</th>
					{% for po in po_order %}
						<th>Rp. {{ po.id|get_total_amount_detail|intcomma }}</th>
					{% endfor %}
				</tr>
				<tr>
					<th scope="row">Actual</th>
					{% for po in po_order %}
						<th>Rp. {{ po.id|get_total_amount_shipped|intcomma }}</th>
					{% endfor %}
				</tr>
				<tr>
					<th scope="row">Profit</th>
					{% for po in po_order %}
						<th>Rp. {{ po.id|get_total_amount_profit|intcomma }}</th>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div id="columnchart_material" style="width: 800px; height: 500px;"></div>

	<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Estimate', 'Actual', 'Profit'],
          	{% for po in po_order %}
				['{{ po.ready_date|date:"M" }}',{{ po.id|get_total_amount_detail }},{{ po.id|get_total_amount_shipped }},{{ po.id|get_total_amount_profit }}],
			{% endfor %} 
        ]);

        var options = {
          chart: {
            title: 'Sales Performance',
            subtitle: 'Estimate, Actual, and Profit: {{ year }}',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
    <br><br><br>

{% endblock content %}